/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.td_content{
  text-align: center;
}
.table{
  width: 68%;
  font-size: .8vw;
}
.wrap_table{
  overflow-y: auto;
  margin-top: 3%;
  /* height: 100% !important; */
}
.box{
  cursor:move !important;
}
td{
 background-color:  #F6F6F6 !important;
}
tbody, td, tfoot, th, thead, tr {
  border-color: white;
  border-style: solid;
  border-width: 2px;
}
.title{
  text-align: center;
}
